# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins
/wp-content/themes
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# caches
.cache

# ignore all files in root
/backup
/*.*

# files to keep
!.gitignore
!.gitlab-ci.yml
!README.md
!composer.json
!composer.lock

# ignore log files and databases
.phpintel
.htaccess
.DS_Store
*.log
*.sql
*.sqlite
*.zip
*.tgz
*.gz
*.tar
*.tar.gz
*.lock


# npm e composer
node_modules
/vendor
wp-content/db.php

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes